 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-1 .u-image-1 {
  width: 416px;
  height: 417px;
  background-image: url("images/fgggf.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  width: 684px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 684px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 296px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 29px 0px rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0px rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  width: 667px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  text-align: center;
  margin: 59px auto 60px;
  padding: 14px 46px 16px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 416px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1740px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 617px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 40px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 754px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-2 .u-list-1 {
  width: 446px;
  height: auto;
  margin: 21px auto 0 62px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 572px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-btn-2 {
  margin-left: 0;
  margin-right: auto;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.u-section-2 .u-btn-3 {
  margin-left: 0;
  margin-right: auto;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 461px;
  margin: -572px 62px 55px auto;
}

.u-section-2 .u-image-1 {
  min-height: 341px;
  background-image: url("images/pexels-photo-5712104.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 231px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-list-1 {
    width: 360px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-2 .u-text-9 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-list-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 251px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 703px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-3 .u-image-1 {
  width: 278px;
  height: 278px;
  background-image: url("images/fgggf.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 161px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 10px 20px 20px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 10px 20px 20px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 10px 20px 20px;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-image-1 {
    width: 263px;
    height: 263px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 133px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }
}